= render 'shared/top-title'


= form_with model:[@post] class: 'form' do |f|
  = f.text_field :title, placeholder: "タイトルを入力",class: 'form__title'
  = f.text_field :tag_name ,placeholder: "タグをカンマ区切りで入力",class: 'form__tag'
    = aaa
  = f.text_area :content, placeholder: "内容を入力", class: 'form__content'
  = f.submit '編集完了', class: 'form__submit'