= render 'shared/top-title'

= form_with model:@post, local: true, class: 'form' do |f|
  = f.text_field :title, placeholder: "タイトルを入力",class: 'form__title'
  = f.text_field :tag_list, value: @post.tag_list.join(','), class: 'form__tag',placeholder: "タグをカンマ区切りで入力"
  = f.text_area :content, placeholder: "内容を入力", class: 'form__content'
  = f.submit '投稿', class: 'form__submit'