= render 'shared/top-title'

.wrapper
  .main
    .content-header
      %table
        %tr
          %th.content-header__tag.title-bar タグ
          %th.content-header__title.title-bar タイトル 
          %th.content-header__content.title-bar 説明
          %th.content-header__name.title-bar 投稿者

      
    .content-box
      - @contents.each do |content|
        = link_to content_path(content.id) do
          %ul.line
            %li.content-box__tag
              = content.tag_list
            %li.content-box__title
              = content.title
            %li.content-box__content
              = content.content
            %li.content-box__name
              = content.user.name

  .side
    = render 'shared/top-side'