= render 'shared/top-title'

.content_show
  .title
    .title__bar
      %h1
        タイトル
    
    .title__content
      .title__content__title
        = simple_format(@content.title)
      
      .title__content__items
        %ul
          %li
            = link_to '削除', content_path, method: :delete
            = link_to '編集', edit_content_path(@content.id)

    .title__tags
      タグ：
      .title__tags__tag
        - @content.tag_list.each do |tag|
          %ul
            %li
              = tag
      -# .title__updated_at
      -#   最終更新日:
      -#   = I18n.l @content.updated_at, format: :long
      .title__tags__created_at 
        投稿日：
        = I18n.l @content.created_at, format: :long


  .content
    .@content-box__content
      = simple_format(@content.content)