.top
  .title
    = link_to 'IT-Dictionary', root_path 

  .login
    - if user_signed_in?
      %ul
        %li
          = current_user.name
        %li
          = link_to '新規投稿', new_content_path, class: 'post'
        %li
          = link_to 'ログアウト',destroy_user_session_path,method: :delete ,class: 'logout'
    - else
      %ul
        %li
          = link_to 'ログイン', new_user_session_path, class: 'login'
        %li
          = link_to 'ユーザ登録', new_user_registration_path, class: 'user-register'
